
.page-title {
    color: #199A8E;
    font-weight: 600;
    margin-bottom: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 30px;
    background-color: #f9f9f9;
}

.form-label {
    font-size: 16px;
    color: #199A8E;
}

.form-control {
    font-size: 14px;
    border-radius: 8px;
    padding: 10px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #199A8E;
    box-shadow: 0 0 5px rgba(25, 154, 142, 0.2);
}

.btn-primary {
    background-color: #199A8E;
    border-color: #199A8E;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #15867D;
    border-color: #15867D;
}

.btn-secondary {
    background-color: #ccc;
    border-color: #ccc;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-secondary:hover {
    background-color: #b0b0b0;
    border-color: #b0b0b0;
}

.form-group {
    margin-bottom: 20px;
}

#image-container {
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-top: 15px;
}
