
    .page-title {
        color: #199A8E;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }

    .card {
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-group label {
        color: #199A8E;
        font-weight: bold;
    }

    .form-control {
        border-radius: 25px;
        border: 1px solid #199A8E;
        transition: all 0.3s ease;
    }

    .form-control:focus {
        border-color: #15867D;
        box-shadow: 0 0 10px rgba(25, 154, 142, 0.2);
    }

    .btn-primary {
        background-color: #199A8E;
        color: white;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #15867D;
        transform: scale(1.05);
    }

    .btn-secondary {
        background-color: #f2f6f9;
        color: #199A8E;
        border: 1px solid #199A8E;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 16px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .btn-secondary:hover {
        background-color: #e6f7f3;
        transform: scale(1.05);
    }
